<ion-view view-title="Change Password" align-title="center">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

   
   <ion-content style="background: url(img/bc.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Durga Buzzer</h1>
            </div>
        </div>
       
      <div class="list">
       
        <label class="item item-input">
          <span class="input-label" style="color:#FFFFFF;">Temporary Password</span>
          <input type="password" ng-model="user.password" style="color:#FFFFFF;">
        </label>
         <label class="item item-input">
          <span class="input-label" style="color:#FFFFFF;">New Password</span>
          <input type="password" ng-model="user.password1" style="color:#FFFFFF;">
        </label>
          <button ui-sref="app.lgn" class="button button-block button-balanced">Change Password</button>
          
          <button ui-sref="app.profile" class="button button-block button-stable">Cancel</button>
        
      </div>
    
        
    </ion-content>
</ion-view>
