
<ion-view view-title="Settings">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
<!--<div class="bar bar-subheader bar-calm">&nbsp;&nbsp;&nbsp;
  <img src="img/arya.jpg" height="40" width="30">
</div>-->
<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    <!--<br><br><br>
     
        <h4 class="content padding double-padding-x">My Durgas</h4>
        <div class="list animate-fade-slide-in-right">
           <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/arya.jpg">
                <h2>Sharmila</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Vaishnavi</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/daenerys.jpg">
                <h2>Girija</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/arya.jpg">
                <h2>Roshni</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sri</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
          

        </div>-->
        <img src="img/img3.jpg" height="100%" width="100%">
    </ion-content>
</ion-view>
